<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="5">
    <test verbose="2" preserve-order="true"
          name="src/test/java/test/category/category.java">
        <classes>
            <class name="test.category.category">
                <methods>
                    <include name="checkCountTheatre"/>
                    <include name="checkCountAll"/>
                    <include name="checkCountClub"/>
                    <include name="checkCountConcert"/>
                    <include name="checkCountShow"/>
                    <include name="checkNew_Year"/>
                    <include name="checkPeregrinandum"/>
                    <include name="CheckId8"/>
                    <include name="CheckId9"/>
                    <include name="CheckId10"/>
                    <include name="CheckId11"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>